<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Render navbar partial -->
    <%= render "shared/nav" %>

    <!-- If there's a currently signed in user & they come from user model (vs. from OpenStruct) -->
    <% if current_user.is_a?(User) %>
      <!-- Found path name via rake routes | grep logout -->
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    
    <!-- Yield: Application layout file loads, & then whatever page we go to "slides into" where yield is (eg, If we go to Portfolio index page, that content slides into where yield is written) -->
    <%= yield %>
    
    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
